<%- include('./partials/header.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="container">

        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>

        <% perguntas.forEach(pergunta => { %>
            
            <div class="card mt-5">
                <div class="card-body" style="display: flex; justify-content:space-between;">
                    <h4><%= pergunta.titulo %></h4>
                    <a href="/pergunta" class="btn btn-primary">Responder</a>
                </div>
            </div>

        <% });  %>

</body>

<%- include('./partials/footer.ejs') %>
